{% extends "layouts/app.html" %}

{% block content %}

<section class="grid grid-cols-1 md:grid-cols-4 gap-6 mb-8">
    <div class="bg-black p-5 rounded-lg shadow border border-gray-900">
        <h3 class="text-sm text-gray-400">Commands</h3>
        <p class="text-2xl font-bold mt-2">{{ commands | length}}</p>
    </div>
</section>

<section class="bg-black rounded-lg p-5 border border-gray-900">
    <div class="flex items-center justify-between mb-4">
        <h2 class="text-lg font-semibold">Commands</h2>
        {% import "components/modal.html" as createCommand%}

        {% call createCommand.modal(
        "+ New Command",
        "Command",
        "px-4 py-2 bg-indigo-600 hover:bg-indigo-700 rounded text-sm font-medium transition"
        ) %}
        <form method="POST" action="/command/create" class="flex flex-col gap-2">
            <input type="text" name="name" placeholder="Name" class="border rounded px-2 py-1" />
            <button type="submit"
                class="px-4 py-2 bg-indigo-600 hover:bg-indigo-700 rounded text-sm font-medium transition">
                Create
            </button>
        </form>
        {% endcall %}
    </div>

    <div class="overflow-x-auto">
        <table class="w-full text-sm">
            <thead class="text-gray-400 border-b border-gray-800">
                <tr>
                    <th class="text-left py-3 px-2">Nome</th>
                    <th class="text-left py-3 px-2">Ações</th>
                </tr>
            </thead>
            <tbody>

                {% for command in commands%}
                <tr class="border-b border-gray-800 hover:bg-neutral-900 transition">
                    <td class="py-3 px-2 font-medium">{{command}}</td>
                    <td class="py-3 px-2 flex gap-2">
                        <a href="/command/{{command[:-3]}}"
                            class="px-3 py-1 bg-blue-900/30 hover:bg-blue-900/50 text-blue-400 rounded text-xs transition">Edit</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>

{% endblock %}